# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.Ruserdata

# User-specific files
.Rproj.user/

# RStudio files
*.Rproj

# OAuth2 token
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# Build artifacts
*.tar.gz
*.zip

# Mac OS
.DS_Store
